<% if flash[:notice] %>
<div class="mt-5">
  <div class="alert alert-success"><%= flash[:notice] %>
  </div>
</div>
<% end %>


<% if !@questions.blank? %>
  <%availableQuestions = 0%>
  <%= form_with(model: @answer, url: answers_path, method: :post) do |form| %>
  <% @questions.each do |question| %>
    <% availableQuestions += 1 %>
    <%= fields_for "answers[#{question.id}]", Answer.new do |answer_fields| %>
      <%= answer_fields.hidden_field :student_id, value: session[:user_id] %>
      <%= answer_fields.hidden_field :question_id, value: question.id %>
      
      <div class="mb-4">
        <h6 class="ms-1"><span style="font-weight:bold;">Question <%= question.id %></span>: <%= question.QuestionText %></h6>
        <div class="ms-1">
          <% if question.QuestionAnswer == "True" || question.QuestionAnswer == "False" %>
            <label>
              <%= answer_fields.radio_button :response, true, name: "answers[#{question.id}][response]" %>
              True
            </label>
            <label>
              <%= answer_fields.radio_button :response, false, name: "answers[#{question.id}][response]" %>
              False
            </label>
          <% else %>
            <%= answer_fields.text_field :response, class: 'form-control', placeholder: 'Enter response' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if availableQuestions > 0 %>
    <div class="ms-1">
      <%= form.submit "Submit to be graded", class: "btn btn-success" %>
    </div>
  <% else %>
    <h4>Your teacher currently hasn't added any more questions for you to answer.</h4>
  <% end %>
<% end %>

<% else %>
  <div class="mt-4">
        <h4>Your teacher currently has no assigned questions to answer because you are all caught up to date!</h4>
  </div>
<% end %>

<div class="ms-1">
<div class="mt-4">
<div class="mb-4">
<%= link_to 'Log Out', root_path,  class: "btn btn-danger"%>
</div>
</div>
</div>
