<% if flash[:notice] %>
<div class="mt-5">
  <div class="alert alert-success"><%= flash[:notice] %>
  </div>
</div>
<% end %>


<% if !@questions.blank? %>
  <%availableQuestions = 0%>
  <%= form_with(model: @answer, url: answers_path, method: :post) do |form| %>
    <h2 class="ms-1 mt-4">Answer questions if available:</h2>
    
    <% @questions.each do |question| %>
      <%next if !Answer.find_by(student_id: session[:user_id], question_id: question.id).blank? %>
      <%availableQuestions += 1%>
      <%= fields_for "answers[]", Answer.new do |answer_fields| %>
        <%= answer_fields.hidden_field :student_id, value: session[:user_id] %>
        <%= answer_fields.hidden_field :question_id, value: question.id %>
        
        <div class="mb-4">
          <h6 class="ms-1">Question <%= question.id %>: <%= question.QuestionText %></h6>
          <label class="ms-1">Answer to the question</label>
          <div class="ms-1">
          <%= answer_fields.text_field :response, class: 'form-control', placeholder: 'Enter answer' %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if availableQuestions > 0%>
      <div class="ms-1">
        <%= form.submit "Submit All Answers", class: "btn btn-primary" %>
      </div>
    <% else %>
      <h4>Your teacher currently hasnt add any more assigned questions to answer.</h4>
    <% end %>
  <% end %>

<% else %>
  <div class="mt-4">
        <h4>Your teacher currently has no assigned questions to answer.</h4>
  </div>
<% end %>

<div class="ms-1">
<div class="mt-4">
<div class="mb-4">
<%= link_to 'Log Out', root_path,  class: "btn btn-danger"%>
<%= link_to 'Grade', student_grade_path,  class: "btn btn-primary"%>
</div>
</div>
</div>
